* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* NAVBAR */

nav {
    background-color: #8C0327;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #A9CBD9;
}

/* HERO */

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #A9CBD9;
}

.hero h1 {
    font-size: 3rem;
    color: #8C0327;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-hero {
    background-color: #8C0327;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-hero:hover {
    background-color: #BF0436;
}

/* SEÇÕES */

section {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #8C0327;
}

.etapas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* IMPACTO */

#impacto {
    background-color: #A9CBD9;
    text-align: center;
}

.dados {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.numero h3 {
    font-size: 2rem;
    color: #8C0327;
}

/* PARCERIA */

#parceria {
    text-align: center;
}

.btn-parceiro {
    display: inline-block;
    margin-top: 20px;
    background-color: #8C0327;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-parceiro:hover {
    background-color: #BF0436;
}

/* FOOTER */

footer {
    background-color: #254159;
    color: white;
    text-align: center;
    padding: 20px;
}

/* RESPONSIVO */

@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .card {
        width: 100%;
    }

    .dados {
        flex-direction: column;
        gap: 20px;
    }
}
